menuconfig ARCH_MSM
	bool "Qualcomm MSM (legacy)"
	select ARCH_REQUIRE_GPIOLIB
	select CLKSRC_QCOM
	select MSM_PROC_COMM
	select MSM_SMD
	help
	  Support for Qualcomm MSM/QSD based systems.  This runs on the
	  apps processor of the MSM/QSD and depends on a shared memory
	  interface to the modem processor which runs the baseband
	  stack and controls some vital subsystems
	  (clock and power control, etc).

if ARCH_MSM

config ARCH_MSM7X00A
	bool

config ARCH_MSM7X30
	bool
	select MSM_GPIOMUX
	select MSM_VIC

config ARCH_QSD8X50
	bool
	select MSM_GPIOMUX
	select MSM_VIC

config MSM_SOC_REV_A
	bool

config MSM_VIC
	bool

config MSM_PROC_COMM
	bool

config MSM_SMD
	bool

config MSM_GPIOMUX
	bool

config MACH_HALIBUT
	depends on ARCH_MULTI_V6
	select ARCH_MSM7X00A
	bool "Halibut Board (QCT SURF7201A)"
	help
	  Support for the Qualcomm SURF7201A eval board.

config MACH_TROUT
	depends on ARCH_MULTI_V6
	select ARCH_MSM7X00A
	bool "HTC Dream (aka trout)"
	help
	  Support for the HTC Dream, T-Mobile G1, Android ADP1 devices.

config MACH_MSM7X30_SURF
	depends on ARCH_MULTI_V7
	select ARCH_MSM7X30
	bool "MSM7x30 SURF"
	help
	  Support for the Qualcomm MSM7x30 SURF eval board.

config MACH_QSD8X50_SURF
	depends on ARCH_MULTI_V7
	select ARCH_QSD8X50
	bool "QSD8x50 SURF"
	help
	  Support for the Qualcomm QSD8x50 SURF eval board.

config MACH_QSD8X50A_ST1_5
	depends on ARCH_MULTI_V7
	select ARCH_QSD8X50
	bool "QSD8x50A ST1.5"
	select MSM_SOC_REV_A
	help
	  Support for the Qualcomm ST1.5.

endif
