config RESET_CONTROLLER
	bool

menu "Reset Controller Support"
	depends on ARCH_HAS_RESET_CONTROLLER || COMPILE_TEST

config RESET_SOCFPGA
	bool "Altera SOCFPGA reset controller" if COMPILE_TEST
	default ARCH_SOCFPGA
	select RESET_CONTROLLER

config RESET_BERLIN
	bool "Marvell Berlin reset controller" if COMPILE_TEST
	default ARCH_BERLIN
	select RESET_CONTROLLER

config RESET_SUNXI
	bool "Allwinner reset controller" if COMPILE_TEST
	default ARCH_SUNXI
	select RESET_CONTROLLER

config RESET_OXNAS
	bool

config TI_SYSCON_RESET
	tristate "TI SYSCON Reset Driver"
	depends on HAS_IOMEM
	select MFD_SYSCON
	help
	  This enables the reset driver support for TI devices with
	  memory-mapped reset registers as part of a syscon device node. If
	  you wish to use the reset framework for such memory-mapped devices,
	  say Y here. Otherwise, say N.

source "drivers/reset/sti/Kconfig"
source "drivers/reset/hisilicon/Kconfig"

endmenu
